.nav-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 5px 0;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #5aa3ff; /* warna garis bawah */
  transition: width 0.3s ease; /* durasi & gaya animasi */
}

.nav-link:hover::after {
  width: 100%;
}
body {
    background-color: #fff9f9;
}
.img-wrapper {
  display: inline-block;
  overflow: hidden; /* biar gambar gak keluar saat diperbesar */
  border-radius: 50%; ;
}

.img-wrapper img {
  transition: transform 0.4s ease, box-shadow 0.3s ease; /* biar smooth */
}

.img-wrapper:hover img {
  transform: scale(1.1); /* zoom in */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* efek bayangan biar lebih pop */
}

